[package]
name = "example"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
fast-stream = { path = "../../fast-stream", features = ["all"] }
fast-zip = { path = "..", features = ["all"] }
serde = "1.0.219"
plist = "1.7.2"